* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0C1AE7;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #F39D0A;
}

heading1 {
  color: #fff;
  font-size: 50px;
  margin-left: 5px;
}

heading2 {
  color: #fff;
  font-size: 40px;
  margin: 5px;
}

imagey {
  margin: 5px;
  float: left;
}

texti {
  color: #fff;
  margin-left: 20px;
  font-size: 20px;
  margin: 5px;
}

afterimagetext {
  display: block;
  color: #fff;
  font-size: 20px;
  margin-left: 10;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 99.5%;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color:#fff;
  opcaity: 0.5;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
  float: left;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: #fff;
  padding: 0 20px;
}

ul li a:hover{

  color: black;

}
